.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hstable {
  width: 800px;
  height: 100px;
  border-collapse: collapse;
  overflow:hidden;
}

/* tr td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: white;
} */

thead {
  background-color: #6F6486;
  text-align: left;
  color:white;
}


.mytr:hover {
      background-color: #6f648677;
  } 
