.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hstable {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* tr td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: white;
} */

thead {
  background-color: #6F6486;
  text-align: left;
  color:white;
}


.mytr:hover {
      background-color: #6f648677;
  } 
